{% extends 'core/base.html' %}

{% block title%}Cart{% endblock %}

{% block content %}
    <h2 class="mb-12 text-2xl text-center">Cart</h2>
    {% if cartitems %}
    <div class="pb-6 grid grid-cols-12 gap-4 bg-gray-100">
        <ul class="pl-6 flex justify-start col-span-9">
            ITEM
        </ul>
        <ul class="col-span-1 flex justify-center">
            QUANTITY
        </ul>
        <ul class="col-span-1 flex justify-center">
            PRICE
        </ul>
        <ul class="col-span-1 flex justify-center">
            OPTIONS
        </ul>
            {% for item in cartitems %}
            <ul class="col-span-9">
                <a href="{% url 'item:detail' item.item.id %}">
                    <li class="flex justify-start">
                        <img src="{{ item.item.image.url }}" class="lg:h-24 rounded-t-xl sm:h-auto">
                    </li>
                    <li class="pl-6 flex justify-start">
                        <p class="text-gray-600">{{ item.item.name }}</p>
                    </li>
                </a>
            </ul>
            <ul class="col-span-1">
                <li class="flex justify-center">
                    <p class="text-gray-600">{{ item.quantity }}</p>
                </li>
            </ul>
            <ul class="col-span-1">
                <li class="flex justify-center">
                    <p class="text-gray-600">{{ item.price }}</p>
                </li>
            </ul>
            <ul class="col-span-1">
                <li class="flex justify-center">
                    <a href="{% url 'cart:remove' item.id %}" class="inline-block px-3 py-2 text-sm font-semibold bg-red-500 text-white rounded-xl hover:bg-red-700">Remove</a>
                </li>
            </ul>
            {% endfor %}
        
    </div>
    {% else %}
    <div class="flex justify-center">
        <p>Cart is empty!</p>
    </div>
    {% endif %}
        

{% endblock %}