{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Newest items</h2>
    
        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
             <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div class="flex justify-center">
                        <img src="{{ item.image.url }}" class="lg:h-96 rounded-t-xl sm:h-auto">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{item.price}}</p>
                        <p>Added by: <a class="hover:underline" href="{% url 'dashboard:user' item.created_by.id %}">{{ item.created_by }}</a></p>
                    </div>
                </a>
             </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>
    
        <div class="grid grid-cols-{{categories.count}} gap-3">
            {% for category in categories%}
                <div>
                    <a href="{% url 'item:items' %}?query=&category={{ category.id }}">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ category.name }}</h2>
                            <p class="text-gray-500">{{ category.items.count}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if recomendations_exist %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">This might interest you</h2>
    
        <div class="grid grid-cols-3 gap-3">
            {% for item in recomendations %}
             <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div class="flex justify-center">
                        <img src="{{ item.image.url }}" class="lg:h-96 rounded-t-xl sm:h-auto">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{item.price}}</p>
                        <p>Added by: <a class="hover:underline" href="{% url 'dashboard:user' item.created_by.id %}">{{ item.created_by }}</a></p>
                    </div>
                </a>
             </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
